<!DOCTYPE html>
<html>
<body class="rails-default-error-page">
  <!-- This file lives in public/500.html -->
  <div class="dialog", align="center">
    <div>
      <h1>Lamentamos, mas algo deu errado.</h1>
    </div>
    <p>Se voce e o administrador do aplicativo, verifique os logs para obter mais informacoes.</p>
  </div>
</body>
</html>
