/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *@import '~bootstrap/scss/bootstrap';
 *
 *= require_tree .
 *= require_self
 */

 nav {
    background-color: #2C3E50;
  }
  
  .navbar-brand:hover,:link {
    text-decoration:none;
    color: white;
  }
  
  .navbar-brand:hover {
    text-decoration:none;
    color: white;
  }
  
  .page {
  
    min-height: 100vh;
  }
  
             footer {
                  background-color: #2C3E50;
                  color: white;
                  height: 100vh;
                  padding: 10rem 0;
                  font-size: 1.8rem;
                }
                  .contato_item {
                      display: block;
                  }
  
                  a {
                      color: white;
                  }
  
                  a:link {
                      text-decoration: none;
                  }
  
                  a:visited {
                      text-decoration: none;
                  }
  
                  a:hover {
                      text-decoration: none;
                  }