<%- model_class = Product -%>
<div class="container">
  <p class="text-center" style="font-size: large"><b>Produtos em Promoção</b></p>
   <div class="row">
      <h1><%= @user.username %></h1>
   </div>
</div>
<%= link_to 'home', root_path, :class => 'btn btn-secondary btn-sm' %></dd>