<%- model_class = Product -%>
<div class="container">
  <p class="text-center" style="font-size: large"><b>Instagram</b></p>
   <div class="row">
      <%= @instagram %>
   </div>
</div>
<%= link_to 'home', root_path, :class => 'btn btn-secondary btn-sm' %></dd>